language = "cpp"
run = "clang++ -std=c++17 -Wno-padded -Weverything -Wno-c++98-compat -Wno-missing-prototypes Highway.cpp HighwayPatrol.cpp Motorcycle.cpp Car.cpp SemiTruck.cpp Vehicle.cpp main.cpp && ./a.out"
